# docker-compose.yml
version: '3.9'

services:
  backend:
    build: ./backend
    container_name: drug_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
    volumes:
      - ./frontend:/app/../frontend:ro
      - ./backend/hyper_para_svm.joblib:/app/hyper_para_svm.joblib:ro
